<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/deck.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Deck of Cards</title>
</head>
<body>
<h1>Deck of Cards</h1>

<div><p id="numCardsLeft"></p></div>
<div><p id="message"></p></div>

<div><button onclick="draw()">Draw a Card</button>

<div><button onclick="reset()">Reset Deck</button></div>

<div><button onclick="shuffle()">Shuffle Deck</button></div>

<br>
<br>

<div><p>Created by Adriel Klein. Feel free to <a href="https://github.com/adrielklein/deck-of-cards">view the source</a>.</p></div>
</body>
</html>